/* ========== GOOGLE FONTS ========== */

/* ========== BASE ========== */

/* ========== REUSEBALE CSS CLASSES ========== */

/* ========== HEADER ========== */

/* ========== HERO/HOME SECTION ========== */

/* ========== INFO SECITON ========== */

/* ========== PROJECTS SECTION ========== */

/* ========== SKILLS SECTION ========== */

/* ========== SLIDER/BANNER ========== */

/* ========== CONTACT SECTION ========== */

/* ========== BREAKPOINTS ========== */